@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
.navbar img {
    width: 50px;
    height: 50px;
}

.navbar ul >*{
    font-size: 18px;
    color: #fff;
    font-family: "Noto Sans";

}


.text-section{
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow-x: hidden;

}

.texto-centrado{
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    
}

.separador{
    width: 60%;
    height: 100px;
}


.logo-ppal >*{
    display: block;
    margin: auto;
    margin-top: 170px;
}


.logo-ppal img{
    border-radius: 20px;
    background-color: #fff;
}

.login-card >*{
    display: block;
    margin: auto;
}
.ubicacion{
    width: 100%;
}

.pictures{
    width: 90%;
    display: block;
    margin: auto;
    max-height: 600px;
    padding: 120px 0 30px 0;

}

.img-fluid{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.menu{
    width: 100%;
    height:700px;

}

.menu img{

    display: block;
    margin: auto;
    opacity: 0.4;
    margin-top: 240px;
}
.mapa{
    width: 90%;
    display: block;
    margin: auto;
    max-height: 600px;
    padding: 10px 0 30px 0;
    text-align: center;
}

.herramientas{
    width: 60%;
    display: block;
    margin: auto;
    padding: 10px 0 30px 0;
    text-align: center;  
}

.logos{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 80px;

  
}

.contacto{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.contacto>*{
    margin: 0 20px 0 20px;   

}

.sitemap{
    width: 100%;
}

.sitemap button{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.login-body{
    background-color: #269A52;
}


.contenedor-login{
    width: 300px;
    height: 350px;
    background-color:#F5F5F5;
    display: block;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #232323;
}

.login-header{
    height: 50px;
    background-color: #232323;
    color: #fff;
    padding-top: 15px;
}

.login-header h3{
    text-align: center;
}

.login-formulario{
    padding: 20px;
    
}

.login-formulario input{
    width: 260px;
    height: 30px;
}

.login-formulario a{
    text-decoration: none;
    color: #232323;
    padding-top: 20px;
    margin-left: 40px;
}

.login-formulario #ingresar{
    background-color: #269A52;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.login-formulario #ingresar:hover{
    background-color: #21BA5B;
}

.footer {
    bottom: 0;
    width: 100%;
    line-height: 20px;
    background-color: #13322B;
    display: flex;
    align-self: flex-end;
    justify-content: center;
   
}

.tarjetas{
    width: 100%;
}

.footer-text{
    padding: 10px;
    max-width: 420px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.footer-text img:hover{
    background-color: #255348;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
   

.contacto{

   grid-template-columns:1fr;
 
}




.contenedor-login{
    width: 300px;
    height: 350px;
    background-color:#F5F5F5;
    display: block;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #232323;
}
  
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    .contacto{
        
        grid-template-columns: 1fr 1fr;
      
     }

     
    
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    
    
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    
}